html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

section{
  scroll-margin-top: 4rem;
}

.container{
  width: 90%;
  margin: auto;
}

.d-flex{
  display: flex;
}

.flex-wrap{
  flex-wrap: wrap;
}

.justify-content-between{
  justify-content: space-between;
}

.align-items-center{
  align-items: center;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.12);
  z-index: 2;
  height: 4rem;
  display: flex;
  align-items: center;
}

.nav-icons {
  display: none;
}

.nav-center {
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 19.3rem;
}

.nav-toggle {
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.5rem;
  color: var(--main-color-dark);
  cursor: pointer;
  transition: all 0.3s linear;
}

.nav-toggle:hover {
  transform: scale(1.2);
}

.nav-links li{
  list-style: none;
}

.nav-link {
  display: block;
  padding: 1rem 2rem;
  transition: all 0.3s linear;
  color: var(--main-color-dark);
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
}

.nav-link:hover {
  color: var(--secondary-color-orange);
}

.nav-link.buy-online{
  background-color: var(--secondary-color-orange);
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
}

.nav-link.buy-online:hover{
  color: white;
}

/* nav toggle functionality */
.nav-links {
  overflow: hidden;
  transition: all 0.3s linear;
  margin-bottom: 0;
  padding-left: 0;
  width: 40%;
  background-color: white;
  visibility: hidden;
}

.nav-links.second-nav-section{
  margin-top: 0;
}

.show-links-mobile {
  visibility: visible;
}

/* nav at bigger screen size */
@media screen and (min-width: 992px) {
  /* hide nav toggle button */
  .nav-toggle {
    display: none;
  }

  /* show links */
  .nav-links {
    height: auto;
    display: flex;
    margin-bottom:initial;
    margin-top: 0;
    width:auto;
    align-items: center;
    visibility: visible;
  }

  .nav-center {
    width: 90vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* optional */
    flex-wrap: wrap;
  }

  .nav-header {
    padding: 0 0;
    margin-top: 0;
  }

  .nav-link {
    padding: 0 0;
  }

  .nav-link {
    margin-right: 1rem;
  }
}